.story {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5.8% 30px 6.5% 30px;
  &__images {
    display: flex;
  }
  &__image-wrapper {
    position: relative;
    top: 0;
    left: 0;
    transition: box-shadow 0.3s, top 0.3s, left 0.3s;
    & + & {
      margin-left: 30px;
    }
    &:hover {
      box-shadow: 10px 10px 0 0 #95e1d3;
      top: -10px;
      left: -10px;
      .story__image-hover {
        height: 100%;
        opacity: 1;
      }
    }
  }
  &__image {
    img {
      width: 100%;
      vertical-align: top;
      object-fit: cover;
    }
  }
  &__image-hover {
    margin: 0px;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: height 0.3s, opacity 0.3s;
    background-image: linear-gradient(
      0deg,
      rgba(252, 227, 138, 0.89) 0%,
      rgba(243, 129, 129, 0.89) 100%
    );
    img {
      margin-bottom: 11px;
    }
    span {
      font-family: Montserrat;
      font-size: 18px;
      line-height: 1.2;
      font-weight: 700;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}

@media (max-width: 968px) {
  .story {
    &__images {
      flex-direction: column;
    }
    &__image-wrapper {
      & + & {
        margin-left: 0;
        margin-top: 30px;
      }
    }
  }
}
